.dashboard {
    display: inline-flex;
    height: 100vh;
    width: 80%;
  }
  
  .section {
    margin: 20px;
  }
  
  .student-schedule {
    flex: 0 0 auto;
    overflow: hidden;
  }
  
  .course-list {
    flex: 1;
    overflow: auto;
  }
  
  .course-list ul {
    list-style: none;
    padding: 0;
  }
  
  .course-list li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .course-list li strong {
    display: block;
    margin-bottom: 5px;
  }
  