.login-card {
    width: 400px;
    border-radius: 20px; /* Rounded corners for the card */
  }
  
  /* Add any additional custom styles or overrides as needed */
  .radio-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .radio-button-option {
    margin-bottom: 10px;
  }
